<html>
<head>
<body bgcolor=Cyan>
<center>
<br>
<br>
<br>
<br>
<br>
<br />
<br />
<br />
<br />
<br />
<h1 style="color:Maroon;font-family:cursive;font-size:200%;" > Webserver Configured On {{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }} </h1>
</center>
</body>
</head>
</html>

